{
  "openapi": "3.1.0",
  "info": {
    "title": "Elecz API",
    "description": "Real-time electricity price signals and contract comparison for Nordic and German markets. No authentication required.",
    "version": "1.5.0",
    "contact": {
      "url": "https://elecz.com"
    }
  },
  "servers": [
    {
      "url": "https://elecz.com"
    }
  ],
  "paths": {
    "/signal/spot": {
      "get": {
        "operationId": "getSpotPrice",
        "summary": "Get current electricity spot price",
        "description": "Returns the current electricity spot price for a given zone in cents per kWh. Data from ENTSO-E, updated hourly.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "description": "Electricity price zone. FI=Finland, SE=Sweden, NO=Norway, DK=Denmark, DE=Germany. Sub-zones: SE1-SE4, NO1-NO5, DK1-DK2.",
            "schema": {
              "type": "string",
              "example": "FI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current spot price with price_eur, price_local, currency, unit, timestamp",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/signal/cheapest-hours": {
      "get": {
        "operationId": "getCheapestHours",
        "summary": "Get cheapest electricity hours in next 24-48h",
        "description": "Returns sorted list of cheapest hours, best consecutive 3-hour window, hours to avoid, and automation recommendation.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "description": "Electricity price zone. FI, SE, NO, DK, DE. Sub-zones: SE1-SE4, NO1-NO5, DK1-DK2.",
            "schema": {
              "type": "string",
              "example": "FI"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Number of cheapest hours to return. Default 5, max 24.",
            "schema": {
              "type": "integer",
              "default": 5,
              "example": 3
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Hours to look ahead. Default 24, max 48.",
            "schema": {
              "type": "integer",
              "default": 24,
              "example": 24
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cheapest hours list, best 3h window, avoid hours, recommendation",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/signal": {
      "get": {
        "operationId": "getEnergyDecisionSignal",
        "summary": "Get full energy decision signal",
        "description": "Returns current spot price, top 3 electricity contract recommendations, energy state (cheap/normal/expensive/negative), confidence score, and decision hint. Use this for contract comparisons and rich agent responses.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "description": "Electricity price zone. FI, SE, NO, DK, DE. Sub-zones: SE1-SE4, NO1-NO5, DK1-DK2.",
            "schema": {
              "type": "string",
              "example": "FI"
            }
          },
          {
            "name": "consumption",
            "in": "query",
            "required": false,
            "description": "Annual electricity consumption in kWh. Default: 3500 for DE, 2000 for Nordic zones.",
            "schema": {
              "type": "integer",
              "example": 2000
            }
          },
          {
            "name": "heating",
            "in": "query",
            "required": false,
            "description": "Heating type: district or electric. Default: district.",
            "schema": {
              "type": "string",
              "enum": ["district", "electric"],
              "default": "district"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full signal with spot_price, top_contracts, energy_state, confidence, decision_hint, action",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/signal/optimize": {
      "get": {
        "operationId": "optimize",
        "summary": "One-call electricity optimization",
        "description": "Returns the best action to take right now: run_now / delay / switch_contract / monitor. Recommended endpoint for automation and home assistant integrations.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "description": "Electricity price zone. FI, SE, NO, DK, DE. Sub-zones: SE1-SE4, NO1-NO5, DK1-DK2.",
            "schema": {
              "type": "string",
              "example": "FI"
            }
          },
          {
            "name": "consumption",
            "in": "query",
            "required": false,
            "description": "Annual electricity consumption in kWh. Default: 3500 for DE, 2000 for Nordic zones.",
            "schema": {
              "type": "integer",
              "example": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Optimization result with action: run_now / delay / switch_contract / monitor",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Returns API health status.",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  }
}
