{
  "openapi": "3.1.0",
  "info": {
    "title": "Elecz Energy Signal API",
    "version": "2.1.0",
    "description": "Real-time electricity spot prices, cheapest hours, and contract comparison for 8 markets and 3 continents. Matches Elecz README v2.1 and app.py implementation.",
    "contact": {
      "name": "Zemlo AI / Elecz",
      "url": "https://elecz.com"
    }
  },
  "servers": [
    {
      "url": "https://elecz.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/signal/spot": {
      "get": {
        "summary": "Current spot price",
        "description": "Returns the real-time electricity spot price for the selected zone.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market zone (FI, SE1–SE4, NO1–NO5, DK1–DK2, DE, GB, AU-NSW/VIC/QLD/SA/TAS, NZ-NI/SI)"
          }
        ],
        "responses": {
          "200": {
            "description": "Spot price response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zone": { "type": "string" },
                    "price": { "type": "number" },
                    "currency": { "type": "string" },
                    "unit": { "type": "string" },
                    "timestamp": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/signal/cheapest-hours": {
      "get": {
        "summary": "Cheapest hours next 24h",
        "description": "Returns the cheapest hours in the next 24 hours. AU and NZ return available:false.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 5 }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 24 }
          }
        ],
        "responses": {
          "200": {
            "description": "Cheapest hours response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": { "type": "boolean" },
                    "hours": { "type": "array", "items": { "type": "object" } },
                    "best_window": { "type": "object" },
                    "reason": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/signal": {
      "get": {
        "summary": "Full energy signal",
        "description": "Returns spot price, cheapest hours, and contract comparison in one call.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "consumption",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Annual kWh consumption (defaults vary by market)"
          },
          {
            "name": "heating",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["district", "electric"], "default": "district" }
          }
        ],
        "responses": {
          "200": {
            "description": "Full signal response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spot": { "type": "object" },
                    "cheapest_hours": { "type": "object" },
                    "contracts": { "type": "object" },
                    "recommendation": { "type": "string" },
                    "affiliate_links": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/signal/optimize": {
      "get": {
        "summary": "One-call optimization",
        "description": "Returns the best immediate action: run_now, delay, or switch_contract.",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Optimization response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": { "type": "string" },
                    "spot": { "type": "object" },
                    "cheapest_hours": { "type": "object" },
                    "contracts": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/go/{provider}": {
      "get": {
        "summary": "Redirect to provider",
        "description": "Redirects to provider website with analytics tracking.",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect"
          }
        }
      }
    },

    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns API health status.",
        "responses": {
          "200": {
            "description": "Health OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
