{
  "openapi": "3.1.0",
  "info": {
    "title": "Elecz Energy Signal API",
    "version": "2.1.0",
    "description": "Real-time electricity spot prices, cheapest hours, and contract comparison for 8 markets and 3 continents.",
    "contact": {
      "name": "Zemlo AI / Elecz",
      "url": "https://elecz.com"
    }
  },
  "servers": [
    {
      "url": "https://elecz.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/signal/spot": {
      "get": {
        "summary": "Current spot price",
        "description": "Returns the real-time electricity spot price for the selected zone.",
        "operationId": "getSpotPrice",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market zone (FI, SE1-SE4, NO1-NO5, DK1-DK2, DE, GB, AU-NSW/VIC/QLD/SA/TAS, NZ-NI/SI)"
          }
        ],
        "responses": {
          "200": {
            "description": "Spot price response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "zone":     { "type": "string" },
                    "price":    { "type": "number" },
                    "currency": { "type": "string" },
                    "unit":     { "type": "string" }
                  }
                },
                "example": {
                  "zone": "FI",
                  "price": 5.0,
                  "currency": "EUR",
                  "unit": "c/kWh"
                }
              }
            }
          }
        }
      }
    },

    "/signal/cheapest-hours": {
      "get": {
        "summary": "Cheapest hours next 24h",
        "description": "Returns the cheapest hours in the next 24 hours. AU and NZ return available: false — no public day-ahead data.",
        "operationId": "getCheapestHours",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 5 }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 24 }
          }
        ],
        "responses": {
          "200": {
            "description": "Cheapest hours response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available":     { "type": "boolean" },
                    "zone":          { "type": "string" },
                    "currency":      { "type": "string" },
                    "unit":          { "type": "string" },
                    "energy_state":  { "type": "string" },
                    "cheapest_hours": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hour":  { "type": "string" },
                          "price": { "type": "number" },
                          "unit":  { "type": "string" }
                        }
                      }
                    },
                    "best_3h_window": {
                      "type": "object",
                      "properties": {
                        "start":     { "type": "string" },
                        "end":       { "type": "string" },
                        "avg_price": { "type": "number" }
                      }
                    },
                    "avoid_hours":    { "type": "array", "items": { "type": "string" } },
                    "recommendation": { "type": "string" }
                  }
                },
                "example": {
                  "available": true,
                  "zone": "FI",
                  "currency": "EUR",
                  "unit": "c/kWh",
                  "energy_state": "normal",
                  "cheapest_hours": [
                    { "hour": "2026-04-12T18:00", "price": 4.153, "unit": "c/kWh" },
                    { "hour": "2026-04-13T01:00", "price": 4.953, "unit": "c/kWh" }
                  ],
                  "best_3h_window": {
                    "start": "2026-04-12T23:00",
                    "end": "2026-04-13T01:00",
                    "avg_price": 4.969
                  },
                  "avoid_hours": ["2026-04-13T13:00", "2026-04-13T16:00"],
                  "recommendation": "normal_usage"
                }
              }
            }
          }
        }
      }
    },

    "/signal": {
      "get": {
        "summary": "Full energy signal",
        "description": "Returns spot price, cheapest hours, and contract comparison in one call.",
        "operationId": "getFullSignal",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "consumption",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Annual kWh consumption (defaults vary by market: NZ 8000, AU 4500, GB 2700, DE 3500, Nordic 2000)"
          },
          {
            "name": "heating",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["district", "electric"], "default": "district" }
          }
        ],
        "responses": {
          "200": {
            "description": "Full signal response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spot":           { "type": "object" },
                    "cheapest_hours": { "type": "object" },
                    "contracts":      { "type": "object" },
                    "recommendation": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/signal/optimize": {
      "get": {
        "summary": "One-call optimization",
        "description": "Returns the best immediate action: run_now, delay, or switch_contract.",
        "operationId": "getOptimizeSignal",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Optimization response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action":         { "type": "string" },
                    "spot":           { "type": "object" },
                    "cheapest_hours": { "type": "object" },
                    "contracts":      { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/go/{provider}": {
      "get": {
        "summary": "Redirect to provider",
        "description": "Redirects to provider website with analytics tracking.",
        "operationId": "goToProvider",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "302": { "description": "Redirect to provider URL" }
        }
      }
    },

    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns API health status.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Health OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
